:root {
  --blue: #0d6efd;
  --gray-light: #E5E5E5;
  --gray: #818181;
  --gray-dark: #444444;
  --black: #111111;
  --white: #FFFFFF;

  --border-radius: 24px;
  --font-size: 16px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.btn, nav .search {
  padding: 14px 14px;
  border-radius: var(--border-radius);
  font-weight: bold;
  font-size: var(--font-size);
  color: var(--black);
  outline-style: none;
  border: none;
  background-color: var(--gray-light);
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  position: relative;
}

.btn::before,
nav .search::before {
  content: "";
  width: 0;
  height: 100%;
  border-radius: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--white);
  opacity: 0.3;
  transition: all ease-in-out 0.2s;
}

.btn:hover:before,
nav .search:hover:before {
  width: 100%;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  font-size: var(--font-size);
  max-width: 100vw;
  max-height: 100vh;
  min-height: 800px;
  min-width: 500px;
  background-color: var(--white);
  color: var(--black);
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-areas: "nav" "main";
  align-items: center;
  grid-gap: 5%;
}

/* NavBar */
/*###################################################################*/

nav {
  grid-area: nav;
  max-width: 100%;
  max-height: 100%;
  padding: 4px 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

nav * {
  margin-right: 5px;
}

nav .logo a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

nav .logo a * {
  color: var(--blue);
  font-size: 20px;
}

nav .logo a i {
  font-size: 30px;
}

nav .login {
  background-color: var(--blue);
  color: var(--white);
}

nav .search {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

nav .search input {
  background-color: inherit;
  outline-style: none;
  border: none;
  flex-grow: 1;
  color: var(--black);
  font-size: var(--font-size);
  vertical-align: middle;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

nav .search input::placeholder,
nav .search i {
  color: var(--gray);
  font-size: var(--font-size);
}

/*###################################################################*/

/* Main */
/*###################################################################*/

.back-home {
  position: absolute;
  top: 15%;
  left: 5%;
  color: var(--black);
  font-size: 2rem;
  display: flex;
  align-items: baseline;
}

.back-home i {
  transition: transform ease-in-out 0.3s;
}

.back-home:hover i {
  transform: translateX(-15%);
}

.card {
  grid-area: main;
  display: grid;
  max-width: 55%;
  max-height: 55%;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  grid-gap: 5%;
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--border-radius);
  box-shadow: 0px 0.5px 10px 0px rgba(13, 110, 253, 0.5);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.card .info {
  width: 95%;
  height: 90%;
  display: grid;
  align-items: center;
  justify-content: flex-start;
  grid-template-rows: repeat(3, auto) 1fr;
  grid-gap: 3%;
}

.card .info .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .info .buttons > div {
  display: flex;
  justify-content: space-evenly;
}

.card .info .buttons button  {
  background-color: var(--blue);
  color: var(--white);
}

.card .info .buttons i {
  margin-right: 1rem;
  cursor: pointer;
  font-size: 20px;
}

.card .info .comments {
  width: 33%;
  display: flex;
  align-items: baseline;
  cursor: pointer;
}

.card .info .comments i{
  margin-left: 1rem;
  font-size: var(--font-size);
  transition: transform ease-in-out 0.3s;
}

.card .info .comments:hover i {
  transform: translateX(20%);
}

.card .info .footer {
  align-self: flex-end;
}

/*###################################################################*/

.floating-icons i {
  position: fixed;
  right: 3%;
  bottom: 2%;
  padding: 0.79rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0.5px 0.5px 5px 0px rgba(13, 110, 253, 0.5);
  cursor: pointer;
}

.floating-icons .fa-plus {
  bottom: 8%;
}



